@import url('https://fonts.google.com/specimen/Ubuntu');

@media (max-width: 745px) {
  #fixedNavbar h3 {
    float: left;
    display: inline-block;
    position: relative;
  }
  #fixedNavbar {
 
  width: 2000px;
  margin: 0 auto;
  display: inline-block;


   }
}

.no-print p{
	display: none;
}

#level {
	font-size: 50px;
	color: white;
	display: flex;
	width: 70px;
	height: 70px;
	border: 1px solid white;
}

#tags {
  font-size: 50px;
  color: white;
  display: flex;
  width: 70px;
  height: 70px;
  border: 1px solid white;
}
body {
	background-color: #272626;
}

.container {
	width: 2000px;
	margin: 0 auto;
	overflow: hidden;
	display: inline-block;
  padding-top: 73px;
}

.grid {
	margin-top: 150px;
  margin-left: 250px;
  margin-right: 250px;

}

ol li {
	list-style-type: none;
}

.roster {
	font-size: 0
}

  .roster li {
	display: inline;
	padding: 0;
}

.roster div {
  display: inline-block;
}

.roster div li a img{
	border: 1px solid grey;
	border-radius: 25px;
  height: 250px;
  width: 250px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 25px;
  object-fit: cover;
}

.aatrox li a{
    border: 1px solid grey;
  border-radius: 25px;
  height: 250px;
  width: 250px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 25px;
  object-fit: cover;
}


.roster {
 	line-height:0;
 	margin:0 !important;
 	padding:.5em 0 !important;
 	text-align:center

}

#aatrox {
  display: inline-block;
}

.mage {
  display: inline-block
}


#fixedNavbar h3 {
  overflow: all;
  font-family: Ubuntu;
  line-height: 15px;
  color: white;
  display: inline-block;
  padding-left: 30px;
  padding-right: 20px;
  margin-top: : 0px;
  padding-bottom: 0px;
  text-align: center;
}

header {
    width: 100%;
  z-index: 1000;
  height: 53px;
  text-align: center;
  margin: 0;
  background-color: #7c665f;
  position: fixed;
}

#filterDropdown {
  font-size: 20px;
  height: 30px;
  position: relative;
  font-family: Ubuntu;
  width: 200px;
  color: white;
  background-color: #352728 ;
    left: 110px;
}

#filterDropdown option {
  color: white;
  background-color: #352728 ;
}

.selectFilter {
  display: flex;
}

.aatrox li a{
  background-image: : url('/img/champion/tiles/aatrox_0.jpg');
  background-size: cover;
}